.des{
    position: absolute;
    top: 83% ;
    left:16px;
    color: silver;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 500;
    opacity: 1;
    background-image: linear-gradient(to top, black ,rgb(0, 0, 0, .9) 25% ,rgb(0, 0, 0,.8) 40% ,rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.2) 90%,rgba(0, 0, 0, 0)); 
    /* padding-bottom: 20px;
    ;   
    padding-right: 1013px;
    margin-left: -16px; */
    padding-top: 20px;
    width: 100%;
    padding-left: 20px;
    margin-left: -16px;
    
    
}

.des:hover{
    
        cursor: pointer;
        color: white;
        
        
}
@media all and (max-width: 768px)
{
    .des{
        top:65%;
        padding-bottom: 14px;
    }
}